.landing {
   text-align: center;
   min-height: 95vh;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 8vh auto 1fr auto;

   &__content {
      grid-row: 2/3;
   }

   &__copyright {
      grid-row: 4/5;
   }
}

.container {
   width: min(90%, 640px);
   margin: 0 auto;
}